﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/Main.Master" AutoEventWireup="true" CodeBehind="Contrasenia.aspx.cs" Inherits="CottonClub.admin.Contrasenia" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    Contrasenia<asp:TextBox ID="txtContrasenia" runat="server"></asp:TextBox>
    <br />
    Key<asp:TextBox ID="txtKey" runat="server"></asp:TextBox>
    <br />
    <asp:Button ID="btnSubmit" runat="server" Text="Button" OnClick="btnSubmit_Click" />
    <br />
    Resultado<asp:TextBox ID="txtResult" runat="server"></asp:TextBox>
    <br />
</asp:Content>
