﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="QRCode.aspx.cs" Inherits="CottonClub.QRCode" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Codigo QR</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Image ID="imgCodigoQR" runat="server" />
    </div>
    </form>
</body>
</html>
