@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body.register {background: url("../images/bg_register.jpg") no-repeat; background-size: cover; }
body.thanks   {background: url("../images/bg_thanks.jpg") no-repeat; background-size: cover; }

.jumbotron.vertical-center{margin-bottom:0; background: none;}
.vertical-center{background-color:#fff;min-height:100%;min-height:100vh;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;width:100%;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}

.panel.panel-default { background: none; border: 0; box-shadow:none; }
.jumbotron h1 {font-size: 2.7em; color: #fff; font-weight: 200; padding: 20px 0 10px;}
.jumbotron h4 {color: #fff; font-weight: 200;}

label {color: #FFF; font-weight: 200; text-transform: uppercase;}

input.fm-control {background-color:rgba(255, 255, 255, 0.2); border: 1px solid #FFF; color: #321e13; }
span.input-group-addon {border-color: #FFF; background-color:rgba(255, 255, 255, 0.2); color: #472f23;}

input#btnRegistro.btn.btn-cons {width: 100%; background-color:#443123; border: none; text-transform: uppercase; color: #fff;}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #472f23 !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #472f23 !important;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #472f23 !important;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #472f23 !important;
}

.form-thanks {background: rgba(255, 255, 255, 0.3); padding: 0 20px 20px 20px;}

