﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {background: #6ab098; background: -moz-linear-gradient(top, #6ab098 0%, #3d826f 100%); background: -webkit-linear-gradient(top, #6ab098 0%,#3d826f 100%);
background: linear-gradient(to bottom, #6ab098 0%,#3d826f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ab098', endColorstr='#3d826f',GradientType=0 );}
.jumbotron.vertical-center{margin-bottom:0; background: none;}
.vertical-center{background-color:#fff;min-height:100%;min-height:100vh;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;width:100%;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.panel.panel-default { background: none; border: 0; box-shadow:none; }
.jumbotron h1 {font-size: 2.7em; color: #fff; font-weight: 200; padding: 10px 0 20px;}

input#txt_login_username.form-control, input#txt_login_pass.form-control {background-color:rgba(255, 255, 255, 0.2); border: 1px solid #FFF; color: #321e13; }
span.input-group-addon {border-color: #FFF; background-color:rgba(255, 255, 255, 0.2); color: #472f23;}

input#login_toggle.btn.btn-primary.btn-cons {width: 100%; background-color:#443123; border: none; text-transform: uppercase;}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #472f23 !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #472f23 !important;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #472f23 !important;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #472f23 !important;
}


body {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e0e0e0+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
;}
.jumbotron h1 {color: #444;}
input#login_toggle.btn.btn-primary.btn-cons {background-color:#1da0db;}
.img-center {margin: auto !important;}