﻿<head>
    <style>
	    body {text-align: center; font-family: Helvetica;}
    </style>
</head>
<body>
    <div style="padding:50px;">
	    <div>
	        <span><strong>CONVENIO DE DESCUENTOS PARA LOS MIEMBROS DEL BAYER COTTON CLUB ("CONVENIO") QUE CELEBRAN POR UNA PARTE SEMILLAS ESCALERA DE LA LAGUNA, S.A. DE C.V. / RODRIGUEZ FIGUEROA PABLO ("DISTRIBUIDOR"), REPRESENTADA EN ESTE ACTO POR EL SR. RICARDO HACES GIL O PABLO RODRIGUEZ FIGUEROA Y:</strong></span>
	    </div>
	    <div>
	    <div>
	        <h3>[!CLIENTE]</span>
	    </div>
	    <div>
	        <span><strong>"EL CLIENTE", PARA EL DIA 3 DE MARZO DE 2015, AL TENOR DE LAS SIGUIENTES DECLARACIONES, CONSIDERACIONES Y CLÁUSULAS.</strong></span>
	    </div>
	    
	    <div style="margin-top: 40px;"><i><strong>DECLARACIONES</strong></i></div>
	    <div style="text-align: left;">
		    Declaran ambas partes:<br />
	        1. Que se reconocen mutua personalidad y capacidad para celebrar el presente "Convenio".<br />
	        2. Que es su voluntad otorgar el presente "Convenio" libre de vicio alguno, dolo, mala fe y que libremente deciden obligarse al tenor de las siguientes consideraciones y cláusulas.
	    </div>
	    
	    <div style="margin-top: 40px;"><i><strong>CONSIDERACIONES</strong></i></div>
	    <div style="text-align: left;">
		    Con la finalidad de realizar la comercialización de la línea de productos Bayer CropScience (semilla de algodón y agroquímicos) y en adición a las condiciones de venta hasta ahora vigentes, con el presente se da por asentada la siguiente oferta:<br />
	        1. Para el periodo definido en el encabezado del "Convenio", el "Distribuidor" ofrece a "El Cliente" el precio especial que se cita en el anexo comercial.
	    </div>  
	      
	      
	    <div style="margin-top: 40px;"><i><strong>CLÁUSULAS</strong></i></div>
	    <div style="text-align: left;">
		    1. Los precios especificados en el anexo comercial serán validos solamente para el número de SACOS de semilla especificados en este “Convenio” siempre que las compras, alcancen el número de SACOS de semilla convenido.<br />
	        2. La compra de los SACOS de semilla correspondientes al "Convenio" se efectuaran a través de los despepites establecidos en las zonas algodoneras del Estado de Chihuahua y los productos de regalo serán entregados directamente por los distribuidores en el lugar que solicite el cliente.<br />
	        3. Si por razones ajenas a su naturaleza, "El Cliente" no dispusiera de los SACOS de semilla convenidos y por esto, "El Cliente" no lograra comprar el número de SACOS convenido, el "Distribuidor" a través de sus socios comerciales solo bonificará los descuentos sobre los alcances parciales en el periodo convenido.<br />
	        4. En caso de existir devoluciones, el costo de logística de estas correrá a cargo de "El Cliente" y como máximo sera aceptado el 10% sobre lo facturado.<br />
	        5. Solo se aceptara la devolución de sacos de semilla en buen estado.<br />
	        6. La fecha maxima para recepción de devoluciones sera 30 días posterior al cierre de fechas de siembra de la region.<br />
	        7. La fecha maxima para comprobación de volúmenes consumidos para ser acreedor a la bonificación adicional sera el 20 de noviembre del año 2016.<br />
	
	        Enteradas las partes, del contenido y alcance del presente "Convenio" lo firman por duplicado en la Ciudad de Chihuahua, Chihuahua, el día 3 de marzo de 2015.
	    </div>   
	      
	    
	    <div style="margin-top: 40px;"><i><strong>PARTICIPANTES</strong></i></div>  
	    <div>
	        <table style="width:100%; text-align: center;">
	            <tr>
	                <td style="width:50%;">Por "El cliente"</td>
	                <td style="width:50%;">Por "Distribuidor"</td>
	            </tr>
	            <tr>
	                <td><img src="[!FIRMA]" alt="FIRMA" width="200px"/></td>
	                <td></td>
	            </tr>
	            <tr>
	                <td>[!CLIENTE]</td>
	                <td>RICARDO HACES GIL / PABLO RODRIGUEZ FIGUEROA</td>
	            </tr>
	        </table>
	    </div>
	
		<div style="margin-top: 40px;"><i><strong>PARTICIPANTES</strong></i></div>  
		<div>
	        <table style="width:100%; text-align: center;">
	            <tr>
	                <td style="width:50%;">Seeds Business Manager, Bayer de México, S.A. de C.V.</td>
	                <td style="width:50%;">Crop Manager, Seeds Mexico.</td>
	            </tr>
	            <tr>
	                <td></td>
	                <td></td>
	            </tr>
	            <tr>
	                <td>BITIA OSORIO TREJO</td>
	                <td>GERARDO GONZALEZ VELEZ</td>
	            </tr>
	        </table>
	    </div>
    </div>
    
    
</body> 