﻿<head>
    <style>
        body {
            font-family: Helvetica;
        }

        .table-bordered, .table-header {
            width: 100%;
        }

        table, table tr, table th, table td {
            border-collapse: collapse;
            border-spacing: 0;
            padding: 5px;
            text-transform: uppercase;
        }

        .table-bordered, .table-bordered th, .table-bordered td {
            border-collapse: collapse;
            border-spacing: 0;
            padding: 5px;
            text-transform: uppercase;
        }

        .table-bordered {
            border-top: 1px solid black;
            margin-bottom: 80px;
        }

        .table-header td {
            vertical-align: middle;
            text-align: center;
        }

        td.square {
            border-right: 1px solid #000;
            border-left: 1px solid #000;
            font-weight: bold;
            font-style: italic;
        }

        span.red {
            color: #F30;
            font-weight: bold;
        }

        .table-footer {
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>

	<div style="padding:15px;">
	    <div>
	        <table class="table-header">
	            <tbody>
	                <tr>
		                <td><img src="[!LOGO1]" alt="LOGO 1" width="100px"/></td>
		                <td><h1>CALCULADORA DEL AHORRO<br/>BAYER COTTON CLUB</h1></td>
		                <td><img src="[!LOGO2]" alt="LOGO 2" width="100px" /></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	
	    <div>
	        <span><i>COMPRADOR:</i> </span><span>[!COMPRADOR]</span>
	    </div>
	    <div>
	        <h2>SEMILLAS DISPONIBLES EN LA TEMPORADA</h2>
	        <table class="table-bordered">
	            <thead>
	                <tr>
	                    <th>Producto</th>
	                    <th>No. Sacos</th>
	                    <th>Costo Total Preventa</th>
	                    <th>Costo Total Temporada</th>
	                    <th>Ahorro Preventa</th>
	                </tr>
	            </thead>
	            <tbody>
	                [!TABLASEMILLAS]
	            </tbody>
	        </table>
	    </div>
	    <div>
	        <h2>AGROQUÍMICOS ADICIONALES PARA COMBOS</h2>
	        <table class="table-bordered">
	            <thead>
	                <tr>
	                    <th>Producto</th>
	                    <th>No. Sacos</th>
	                    <th>Costo Total Preventa</th>
	                    <th>Costo Total Temporada</th>
	                    <th>Ahorro Preventa</th>
	                </tr>
	            </thead>
	            <tbody>
	                [!TABLAAGROQUIMICOS]
	            </tbody>
	        </table>
	    </div>
	    <div>
	        <!--<h2>AGROQUÍMICOS DE REGALO POR COMBOS</h2>
	        <table class="table-bordered">
	            <thead>
	                <tr>
	                    <th>Producto</th>
	                    <th>No. Sacos</th>
	                    <th>Costo Total Preventa</th>
	                    <th>Costo Total Temporada</th>
	                    <th>Ahorro Preventa</th>
	                </tr>
	            </thead>
	            <tbody>
	                [!TABLAREGALOS]
	            </tbody>
	        </table>
	            -->
	    </div>
	
	
	    <div>
	        <h2>BONIFICACION POR COMPRA DE PAQUETES Y AGROQUÍMICOS</h2>
	        <table class="table-bordered">
	            <tbody>
	                <tr>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                </tr>
	                <tr>
	                    <td style="border-top: 1px solid #000;" class="square">Cantidad Paquetes</td>
	                    <td>[!CANTCOMBOS]</td>
	                    <td style="border-top: 1px solid #000;" class="square">% Semillas</td>
	                    <td>[!%SEMILLAS]</td>
	                    <td><span class="red">[!TOTALSEMILLAS]</span></td>
	                </tr>
	                <tr>
	                    <td style="border-bottom: 1px solid #000;" class="square">No Productos</td>
	                    <td>[!CANTPRODUCTOS]</td>
	                    <td style="border-bottom: 1px solid #000;" class="square">% Agroquímicos</td>
	                    <td>[!%AGROQUIMICOS]</td>
	                    <td><span class="red">[!TOTALAGROQUIMICOS]</span></td>
	                </tr>
	                <tr>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                </tr>
	                <tr>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                </tr>
	                <tr>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td><h2>AHORRO FINAL</h2></td>
	                    <td><h2><span class="red">[!AHORROFINAL]</span></h2></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	
	
	
	    <div>
	        <h2>MATRIZ DE AHORRO ADICIONAL</h2>
	        <table class="table-bordered">
	            <thead>
	                <tr>
	                    <td>Productos</td>
	                    <td>Paquetes</td>
	                    <td>% Semilla</td>
	                    <td>% Agroquímico</td>
	                </tr>
	            </thead>
	            <tbody>
	                [!TABLADESCUENTOS]
	            </tbody>
	        </table>
	    </div>
	
	
	    <div>
	        <table class="table-footer">
	            <tr>
		            <td></td>
	                <td><img src="[!FIRMA]" alt="FIRMA" width="200px" /></td>
	                <td></td>
	            </tr>
	            <tr>
		            <td></td>
	                <td>[!COMPRADOR]</td>
	                <td></td>
	            </tr>
	            <tr>
		            <td></td>
	                <td style="border-top:1px solid #000; width:300px;">Nombre y Firma del Agricultor</td>
	                <td></td>
	            </tr>
	        </table>
	    </div>
    </div>

    <!--
    <div>
        <table class="table-bordered">
            <tr>
                <td colspan="4">AHORRO DIA BCC</td>
                <td>[!AHORRODIABBC]</td>
            </tr>
            <tr>
                <td colspan="4">AHORRO EN PACAS DIA BCC</td>
                <td>[!AHORROPACASDIABBC]</td>
            </tr>
            <tr>
                <td colspan="4">AHORRO ADICIONAL</td>
                <td>[!AHORROADICIONAL]</td>
            </tr>
            <tr>
                <td colspan="4">AHORRO EN PACAS ADICIONAL</td>
                <td>[!AHORROENPACASADICIONAL]</td>
            </tr>
            <tr>
                <td colspan="4">AHORRO PACAS FINAL</td>
                <td>[!AHORROPACASFINAL]</td>
            </tr>
        </table>
    </div>

    -->
</body> 